.dashboard {
  background-color: #efefef;
  padding: 32px 0;
  min-height: 600px;
  &-title {
    font-weight: 800;
    font-size: 32px;
  }
  &__list {
    padding-top: 16px;
    &-item {
      padding: 8px 16px;
      display: flex;
      justify-content: space-between;
      border-radius: 8px;
      cursor: pointer;
      margin: 8px 0;
      &:hover {
        background-color: #dddeee;
      }

      &-link {
        text-decoration: none;
      }
      &.active {
        background-color: #fff;
      }
      &:hover &-text {
        color: blue;
      }
      &-text {
        font-size: 18px;
        font-weight: 500;
      }
      &-count {
        color: #000;
        &-container {
          background-color: #d6d6d7;
          padding: 2px 4px;
          border-radius: 6px;
          font-size: 14px;
        }
      }
    }
  }

  &__content {
    padding-top: 16px;
    &-header {
      display: flex;
      justify-content: space-between;
      &-title {
        font-size: 26px;
        font-weight: 800;
      }
      &-select {
        font-size: 18px;
        padding: 8px;
        border-radius: 8px;
        border: 1px solid #d6d6d7;
      }
    }
  }

  &__posts {
    margin-top: 16px;
    border-radius: 16px;
    box-shadow: 0 0 0 1px rgba(9, 9, 9, 0.1);
    &-item {
      display: flex;
      justify-content: space-between;
      background-color: #fff;
      border-bottom: 1px solid #efefef;
      padding: 12px 24px;
      &:first-child {
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
      }
      &:last-child {
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        border-bottom: none;
      }
      &-left {
        &-title {
          font-size: 24px;
          font-weight: bolder;
          font-weight: 500;
          color: #3b49df;
          text-decoration: none;
          cursor: pointer;
        }
        &-date {
          margin-top: 8px;
          &-created {
            color: #717171;
            margin-right: 8px;
          }
        }
      }
      &-mid {
        display: flex;
        align-items: center;
        &-item {
          display: flex;
          margin-right: 16px;
          font-size: 20px;
          &-icon {
            margin-right: 4px;
          }
        }
      }
      &-right {
        display: flex;
        align-items: center;
        &-item {
          margin-right: 8px;
          padding: 8px 16px;
          border-radius: 8px;
          text-decoration: none;
          &:hover {
            background-color: #efefef;
          }
          & span {
            color: #717171;
          }
        }
      }
    }
  }
}
