.loggedIn {
  &__icons {
    font-size: 28px;
    padding: 4px 8px;
    margin-left: 8px;
    margin-right: 8px;
    cursor: pointer;
    border-radius: 30%;
    position: relative;
    &-count {
      position: absolute;
      font-size: 12px;
      right: 0;
      top: -4px;
    }
    &:hover {
      background-color: rgb(235, 236, 252);
    }

    &-bell {
      margin-top: 2px;
      height: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
